html5 footer,
header,
section {
    display: block
}

* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html {
    width: 100%;
}

body {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.shadow {
    box-shadow: 0 0 1px #ffffff;
}



header {
    width: 100%;
    padding: 5px 0;
    background: #e9b55b;
    text-align: center;
    color: white;
    
}

.main {
    width: 100%;
    height: 400px;
    /* background: #EFE1E0; */
    /* background: url("/public/images/background_shadow.png"); */
    background-image: url("/public/images/background_shadow.png");
    /* background-size: 100% 400px; */
    /* overflow: auto; */
}



.main::-webkit-scrollbar {
    width: 7px;
}

.main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

section {
    width: 100%;
    display: inline-block;
    margin: 5px 0;
}

section img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #F0F0F0;
}

section span {
    max-width: 80%;
    padding: 7px;
    margin: 0 5px;
    border-radius: 10px;
    font-size: 16px;
    word-wrap: break-word;
}

.chat-left img {
    float: left;
}

.chat-left span {
    float: left;
    background: #CDD7E2;
}

.chat-right img {
    float: right;
    border-radius: 5em;
    animation: bounceIn;
    animation-duration: 1s;
}


.chat-right span {
    float: right;
    background: #e9b55b;
}

.chat-right span{
    animation: backInRight;
    animation-duration: 1s;
}


/* send */
.send {
    width: 100%;
    display: flex;
    justify-content: center;
}

#send-left {
    width: 50%;
    line-height: 30px;
    font-size: 16px;
    display: flex;
    border-color: #f79f57;
    border-radius: 1em;
    text-align: center;
    position: fixed;
    bottom: 10em;
}

#send-left:hover{
    width: 50%;
    line-height: 30px;
    font-size: 16px;
    display: flex;
    border-color: #f79f57;
    border-radius: 1em;
    animation: pulse;
    animation-duration: 1s;
 
}

#send-left:focus{
    border-color: #f79f57;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(251, 176, 54);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(239, 150, 6, 0.973)
}



/* #submit { height: 34px; width: 18%; font-size: 16px; }  */